*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  margin: 0;
  background:url(pictures/Background-csgo.png);
  background-size: cover;

  
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(198, 198, 230);
  font-family: 'Inconsolata';
  font-weight: 300;
  padding: 5px;
  
}

p {
  color: rgb(198, 198, 230);
  font-family: 'Inconsolata';
  font-weight: 300;
  padding: 10px;
  font-size: 30px;
  letter-spacing: 2;
}

.p-specs {
  text-align: center;
  
}

.img-specs {
  margin: 20px;
   
}

.ul-computerspecs {
  color: rgb(134, 6, 6);
  font-size: 30px;
  padding-top: 20px;
  padding-left: 40px;
  float: left;
  font-family: 'Cinzel', serif;
}

.ul-setupspecs {
  color: rgb(134, 6, 6);
  font-size: 30px;
  padding-top: 20px;
  padding-right: 40px;
  float: left;
  font-family: 'Cinzel', serif;
  
}

.ul-stats {
  color:  rgb(198, 198, 230);
  font-family: 'Inconsolata', monospace;;
  font-size: 30px;
  text-shadow: 5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top: 5px;
  display: inline-block;
  padding-top: 20px;
  padding-left: 40px;

} 

.ul-about {
  color:  rgb(198, 198, 230);
  font-family: 'inconsolata';
  font-size: 22px;
  

}

.welcome {
  text-align: center;
  color: rgb(134, 6, 6);
  font-family: 'Cinzel', serif;;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  letter-spacing: 5px;
  text-shadow: 5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
  
}

.page-titels {
  text-align: center;
  color: rgb(134, 6, 6);
  font-family: 'Cinzel', serif;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  letter-spacing: 5px;
  text-shadow: 5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.spec-titel {
  text-align: left;
  color: rgb(134, 6, 6);
  font-family: 'Cinzel', serif;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 500px;
  letter-spacing: 5px;
  text-shadow: 5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-top: 50px;

}

.fa-twitch {
  background: purple;
  color: rgb(255, 255, 255);

}

.fa-youtube {
  background: #bb0000;
  color: white;
  
  
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 10px 5px;
  border-radius: 40%;
  margin-top: 24px;
}

.fa:hover {
  opacity: 60%
  
  

}

.container {
  width: 80%;
  margin: 0 auto;
    
}

.container-stats {
width: 1050px; 
height: 350px; 
border: 1px solid rgb(134, 6, 6);
margin: 0 auto;
background-color: rgb(21, 21, 31);
border-radius: 50px;
box-sizing: border-box;

}

.container-specs {
  width: 1200px;
  height: 1000px;
  border: 1px solid rgb(134, 6, 6);
  margin: 0 auto;
  background-color: rgb(21, 21, 31);
  border-radius: 50px;
  box-sizing: border-box;
  float: right;
}

.container-specs2 {
  width: 1300px;
  height: 1000px;
  border: 1px solid rgb(134, 6, 6);
  margin: 0 auto;
  background-color: rgb(21, 21, 31);
  border-radius: 50px;
  box-sizing: border-box;
  float:left;
  
}

header {
  background-color: rgb(28, 27, 34);
  width: 100%;
}

.header1 {
  background-color: rgb(60, 36, 194);
  width: 5%;
  height: 60px; /* FIXA så knappen till checkboxen funkar */
  position: fixed;
  
}
header::after {

content: '';
display: table;
clear: both;

}

.logo {
  float: left;
  padding: 10px 0;
  font-size: 52px;
  font-family: 'Cinzel', serif;
  color: rgb(198, 198, 230);
  margin-right: 10px;
  letter-spacing: 5px;
  text-shadow: 6px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 40px;
  

  position: relative;
}

nav a{
  color: rgb(198, 198, 230);
  text-decoration: none;
  text-transform:uppercase;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  letter-spacing: 2px;
  text-shadow: 6px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
  
}

nav a:hover {
  color: rgb(134, 6, 6);
  transition: 1s;
  
}

nav a::before {
  content:'';
  display: block;
  border-radius: 5px;
  height: 10px;
  width: 100%;
  background-color: rgb(134, 6, 6);
  box-shadow: 0px 0 black, 0 1px black, 1px 0 black, 0px 0px black;;
  
  

  position: absolute;
  top:  0;
  opacity: 0%;

  
}

nav a:hover::before {
  opacity: 30%;
  transition: 1s;
  
}
/*Side bar and profile START */

.sidebar {
  background: rgb(28, 27, 34);
  height: 100%;
  width: 300px;
  position: fixed;
  margin-top: 100px;
  transform: translateX(-250%);
  transition: transform 250ms ease-in-out;

}

.profile {
  text-align: center;
  padding: 20px;
  font-family: 'Cinzel', serif;

}

.profile h3 {
  margin: 10px;
  font-size: 22px;
  font-family:'Cinzel', serif;
}

.profile li {
  list-style: none;
  display: inline-flex;
  margin: 0 5px;
  font-size: 20px;
  padding: 10px;
  transition: all 0.5s;
}

.profile a {
  color: white;
}

.profile li:hover {
  background: rgb(134, 6, 6);

}

.profile img {
width: 100px;
height: 100px;
object-fit: cover;
object-position: top;
border-radius: 100px;
border: 3px solid rgb(134, 6, 6);
}

.sidebarmenu li a {
  color: rgb(198, 198, 230);
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid rgb(198, 198, 230, 0.10);
}

.sidebarmenu li a:hover{
  background: black;
  color: rgb(134, 6, 6);
  transition: all 0.3s;
}

.toggle-icon div{
  background: rgb(255, 255, 255);
  width: 100%;
  height: 5px;

}

.toggle-icon {
  position: absolute;
  top: 22px;
  left: 15px;
  width: 22px;
  height: 22px;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.3;
}

.bar-center{
  margin: 3px 0;
}

input[type="checkbox"]:checked ~ .sidebar{
  transform: translateX(0);
}

input[type="checkbox"]:checked ~ .toggle-icon> .bar-top{
  transform: rotate(180deg);
  margin-top: 8px;
}

input[type="checkbox"]:checked ~ .toggle-icon> .bar-center{
  opacity: 0;
}

input[type="checkbox"]:checked ~ .toggle-icon> .bar-bottom{
  transform: rotate(180deg);
  margin-top: -8px;
}
